@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./img/img.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  color: #fff;
  padding: 30px 40px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.container h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #c5c5c5
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}


.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  text-decoration: none;
  color: #fff;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin-top: 12px;
}

.login:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  transition: 0.5s;
}

.register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block; /* Permite que o link se comporte como um bloco */
  padding: 15px 30px; /* Espaçamento interno do botão */
  background-color: #ffffff; /* Cor de fundo do botão */
  color: #333; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  border-radius: 40px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: 600; /* Peso da fonte */
  text-decoration: none; /* Remove o sublinhado */
  box-shadow: 0 0 10px rgba(0, 0, 0, .1); /* Sombra do botão */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transições suaves */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.button:hover {
  background-color: transparent; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
  transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.button:active {
  transform: translateY(0); /* Retorna à posição original ao clicar */
}


/* CSS HOME */

header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* aumentei o espaçamento lateral */
  z-index: 1000;
  font-family: "Poppins", sans-serif;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo h1 {
  margin-left: 10px;
  font-size: 1.8rem;
}

.nav {
  display: flex;
  list-style: none;
}

.nav li a {
  margin-left: 20px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  font-weight: 500;
}

.nav li a:hover {
  color: #ad00c4;
}


.logo_principal {
  height: 350px; /* Tamanho da imagem */
  width: auto; /* Regula o tamanho automaticamente */
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 100px; /* ou o quanto precisar para não esconder o conteúdo */
}

.main-text {
  font-size: 1.5rem;
  margin: 20px 0;
  width: 500px;
  margin-left: 100px;
}

.main-text h1 span {
  color: #e560ff;
}

.dc_btn {
  background-color: transparent;
  border: #ad00c4 2px solid;      /* ou #6f00ff */
  color: #e100ff;                  /*ou #6f00ff*/
  width: 100px;
  height: 35px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;     /*Transição para quando passar o mouse por cima do botão*/
}

.dc_btn:hover {         /*O "hover" dá um efeito quando passa o cursor do mouse encima do botão*/
  cursor: pointer;
  background-color: #ad00c4;
  color: white;
} 

.tab_products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 50vh;
  background: #110020;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.header2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-top: -60px;
  margin-bottom: 60px;
}

.header2 span {
  color: #e560ff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: #20002b;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #110020;
  width: 100%;
}

.footer p {
  color: #fff;
  background: #110020;
}

input {
  color: black;
}

.produtos {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  padding: 30px 40px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}


.button.criar-produto {
  width: 350px;
  background-color: #fff;
  height: 50px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.button.criar-produto:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  transition: 0.5s;
}

.button.criar-produto:active {
  transform: translateY(0);
}

.card img {
  border-radius: 10px;
}

.button.concluir-edicao {
  width: 350px;
  margin: 10px;
  background-color: #fff;
  height: 50px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.button.concluir-edicao:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  transition: 0.5s;
}

.button.concluir-edicao:active {
  transform: translateY(0);
}

header.botoes {
  flex-direction: column;
  justify-content: center;
  
}


