<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="/cadastro" method="POST" onsubmit="return verificarSenhas()">
            <div class="input-box">
                <input type="text" name="usuario" placeholder="Nome" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="email" name="email" placeholder="E-mail" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" name="senha" placeholder="Senha" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="password" name="confirme sua senha" placeholder="Confirme sua senha" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <button type="submit" class="login">Cadastro</button>
            <div class="register-link">
                <p>Você tem uma conta? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
</body>

</html>