<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Produtos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="produtos">
    <form action="/criar_produto" method="POST">

            <div class="input-box">
              <input name="nome_do_produto" type="text" placeholder="Nome do produto">
            </div>

            <div class="input-box">
              <input name="preco" type="number" placeholder="Preço do produto">
            </div>

            <div class="input-box">
              <input name="imagem" type="text" placeholder="Url da imagem">
            </div>
    </div>
        
        <br>
        <div class="botoes">
            <button type="submit" class="button criar-produto">Criar Produto</button>
        </div>
    </form>
</body>
</html>