<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="produtos">
        <form action="/editar/{{produto[0]}}" method="POST">

            <input type="hidden" name="id" value="{{ produto.id }}">

            <div class="input-box">
              <input name="nome" type="text" placeholder="Nome do produto" value="{{ produto.nome }}">
            </div>

            <div class="input-box">
              <input name="preco" type="number" placeholder="Preço do produto" value="{{ produto.preco }}">
            </div>

            <div class="input-box">
              <input name="caminho_imagem" type="text" placeholder="Url da imagem" value="{{ produto.imagem }}">
            </div>
    </div>
        
        <br>
        <div class="botoes">
            <button type="submit" class="button concluir-edicao">Concluir Edição</button>
            <a href="/excluir_produto/{{produto[0]}}">Excluir</a>
        </div>
    </form>
</body>
</html>
