<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link para o arquivo CSS externo -->
</head>
<body>
<div class="pagina_inicial">

<header class="botoes">
    <h1>TechStore</h1>
    <div>
        <a href="/login" class="button">Você tem uma conta?</a>
        <a href="/cadastro" class="button">Não tem uma conta?</a>
    </div>
</header>


</div>
</body>
</html>
